In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('fwpHarvestEstimatesReport.csv')

In [3]:
df

,License Year,Hunting District,Residency,Hunters,Days,Days per Hunter,Total Harvest,Bulls,Cows,Calves,Bow,Rifle,Spike Bull Elk,Less than 6 Points,6 or More Points
0,2004,100,N,180,1088,6,13,13,0,0,3,10,0,3,10
1,2004,100,R,1894,14231,8,111,55,49,7,14,97,0,35,17
2,2004,100,SUM,2075,15318,7,124,68,49,7,17,107,0,38,27
3,2004,101,N,87,493,6,3,3,0,0,0,3,0,0,3
4,2004,101,R,1372,10272,8,83,46,34,3,10,73,0,32,14
5,2004,101,SUM,1459,10765,7,86,49,34,3,10,76,0,32,17
6,2004,102,N,15,82,6,0,0,0,0,0,0,0,0,0
7,2004,102,R,1422,8338,6,35,16,14,6,3,33,0,14,2
8,2004,102,SUM,1437,8420,6,35,16,14,6,3,33,0,14,2
9,2004,103,N,193,1133,6,2,0,2,0,0,2,0,0,0
10,2004,103,R,2366,15464,7,137,68,59,10,21,116,0,43,24
11,2004,103,SUM,2559,16597,7,139,68,61,10,21,118,0,43,24
12,2004,104,N,190,1161,6,7,7,0,0,3,3,0,3,3
13,2004,104,R,1394,9816,7,118,87,27,3,12,106,1,56,30
14,2004,104,SUM,1584,10977,7,124,94,27,3,15,109,1,59,34
15,2004,109,N,10,36,4,0,0,0,0,0,0,0,0,0
16,2004,109,R,270,1871,7,29,7,21,1,0,29,0,4,3
17,2004,109,SUM,280,1907,7,29,7,21,1,0,29,0,4,3
18,2004,110,N,49,285,6,0,0,0,0,0,0,0,0,0
19,2004,110,R,1011,5905,6,85,71,14,0,6,79,0,54,17
20,2004,110,SUM,1060,6190,6,85,71,14,0,6,79,0,54,17
21,2004,120,N,16,56,3,0,0,0,0,0,0,0,0,0
22,2004,120,R,974,5601,6,40,33,7,0,10,30,0,23,10
23,2004,120,SUM,990,5657,6,40,33,7,0,10,30,0,23,10
24,2004,121,N,495,3261,7,71,68,3,0,29,42,0,37,31
25,2004,121,R,2098,17644,8,277,123,148,7,46,231,5,72,46
26,2004,121,SUM,2593,20905,8,348,191,151,7,75,273,5,109,77
27,2004,122,N,222,1082,5,8,3,5,0,0,8,0,0,3
28,2004,122,R,1539,9790,6,60,31,26,3,11,48,0,24,7
29,2004,122,SUM,1761,10872,6,67,34,30,3,11,56,0,24,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7273,2017,Reg_1,N,0,0,0,118,105,14,0,31,87,0,60,45
7274,2017,Reg_1,R,0,0,0,813,499,305,9,133,680,12,326,162
7275,2017,Reg_1,SUM,0,0,0,931,604,319,9,164,767,12,385,207
7276,2017,Reg_2,N,0,0,0,544,385,155,5,68,476,11,265,109
7277,2017,Reg_2,R,0,0,0,4468,2311,2045,112,473,3995,28,1539,736
7278,2017,Reg_2,SUM,0,0,0,5012,2695,2200,117,541,4471,38,1803,845
7279,2017,Reg_3,N,0,0,0,2925,1880,1010,35,541,2384,19,911,950
7280,2017,Reg_3,R,0,0,0,10979,4762,5738,478,948,10031,307,2456,1994
7281,2017,Reg_3,SUM,0,0,0,13904,6642,6748,514,1489,12415,325,3367,2944
7282,2017,Reg_4,N,0,0,0,1277,793,450,34,229,1048,29,326,435
7283,2017,Reg_4,R,0,0,0,4410,1728,2459,222,543,3866,107,528,1091
7284,2017,Reg_4,SUM,0,0,0,5686,2521,2909,256,772,4914,136,853,1526
7285,2017,Reg_5,N,0,0,0,607,406,194,7,112,495,51,191,164
7286,2017,Reg_5,R,0,0,0,2355,840,1415,100,169,2186,170,273,395
7287,2017,Reg_5,SUM,0,0,0,2962,1247,1609,107,281,2682,221,464,559
7288,2017,Reg_6,N,0,0,0,91,44,43,4,40,51,2,8,35
7289,2017,Reg_6,R,0,0,0,568,240,316,13,127,442,8,56,175
7290,2017,Reg_6,SUM,0,0,0,659,284,359,16,167,492,10,64,210
7291,2017,Reg_7,N,0,0,0,277,127,141,9,87,190,5,28,95
7292,2017,Reg_7,R,0,0,0,894,360,491,43,181,713,6,95,260
7293,2017,Reg_7,SUM,0,0,0,1171,488,632,52,268,903,10,123,354
7294,2017,Reg_X,N,18205,0,0,10,1,9,0,0,10,0,0,1
7295,2017,Reg_X,R,95771,0,0,12,3,9,0,0,12,0,0,3
7296,2017,Reg_X,SUM,113976,0,0,21,4,17,0,0,21,0,0,4
7297,2017,State,N,18205,0,0,5849,3741,2015,94,1109,4741,115,1788,1835
7298,2017,State,R,95771,0,0,24498,10743,12778,977,2574,21924,636,5272,4815
7299,2017,State,SUM,113976,0,0,30348,14484,14793,1071,3682,26665,751,7060,6650
7300,2017,XXX,N,18205,0,0,10,1,9,0,0,10,0,0,1
7301,2017,XXX,R,95771,0,0,12,3,9,0,0,12,0,0,3
7302,2017,XXX,SUM,113976,0,0,21,4,17,0,0,21,0,0,4

In [14]:
def divide_two_cols(df_sub):
    hunters = float(df_sub['Hunters'].sum())
    if hunters <= 0:
        hunters += 1
    df_sub['Success Rate'] = hunters / float(df_sub['Total Harvest'].sum())
    return df_sub
df.groupby(['License Year']).apply(divide_two_cols)

TypeError: cannot convert the series to <class 'float'>